.servicesTitle {
  color: #121212;
  margin: 64px 0 46px 0;
  text-align: center;
  font-size: 24px;

  @media (min-width: 640px) {
    font-size: 30px;
  }
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: 640px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .serviceContainer {
    .innerServiceContainer {
      position: relative;
      width: 100%;
      height: 200px;
      overflow: hidden;
      border-radius: 10px;

      @media (min-width: 640px) {
        width: 280px;
        height: 200px;
      }

      .innerServiceImage {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;

        transition: all 0.3s;
      }

      &:hover {
        .innerServiceImage {
          transform: scale(1.1);
        }

        + p {
          font-weight: bold;
        }
      }
    }

    .innerServiceDescription {
      line-height: 150%;
      text-align: center;
      margin: 8px 0;
      font-size: 18px;
      transition: all 0.3s;
    }
  }
}
