.pageAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;

  margin: 44px 0px;

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 46px;
  }

  .pageInnerAbout {
    flex: 1;

    .pageInnerAboutTitle {
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 14px;
    }

    .pageInnerAboutDescription {
      margin-bottom: 24px;
      line-height: 150%;
    }

    .pageInnerAboutCta {
      border: 1px solid #121212;
      background: transparent;
      color: #121212;
      border-radius: 999px;
      padding: 10px 30px;
      font-weight: 600;
      transition: all 0.3s;

      &:hover {
        border: 1px solid transparent;
        background-color: #121212;
        color: #fff;
      }
    }
  }

  .pageAboutBanner {
    position: relative;
    display: none;
    width: 350px;
    height: 450px;

    @media (min-width: 640px) {
      display: block;
    }

    .pageAboutBannerImage {
      object-fit: cover;
      border-radius: 20px;
      width: 100%;
      height: 100%;
    }
  }
}
