.contactsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 84px 0 16px 0;

  .innerContactsFooter {
    width: 100%;
    background-color: #121212;
    padding: 30px;
    border-radius: 20px;

    z-index: 20;

    @media (min-width: 1024px) {
      width: 60%;
    }

    .innerContactsFooterTitle {
      text-align: center;
      color: #fff;
      font-size: 28px;
      margin-bottom: 24px;
    }

    .contactsContentContainer {
      color: #fff;

      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      gap: 32px;

      padding: 14px 30px;

      @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .contactContentBox {
        display: flex;
        align-items: center;
        gap: 18px;

        font-size: 14px;
        text-wrap: nowrap;

        .contactContentInfos {
          strong + p {
            margin-top: 8px;
          }
        }
      }
    }
  }

  .contactsFooterCta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #30b700;
    border-radius: 999px;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 26px;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .contactsFooterCopyright {
    text-align: center;
    margin-top: 64px;
  }
}
