.contactsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 84px 0 14px 0;

  .innerContactsFooter {
    width: 90%;
    background-color: #121212;
    padding: 30px 16px;
    border-radius: 16px;

    z-index: 20;

    .innerContactsFooterTitle {
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin-bottom: 24px;
    }

    .contactsContentContainer {
      color: #fff;

      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      gap: 14px;

      padding: 14px 30px;

      .contactContentBox {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
