.submenuContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 65px 20px 5px 20px;

  .submenuIcon {
    display: none;
    background: none;
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    @media (max-width: 768px) {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
  }

  .submenuListContainerDesktop {
    display: none;

    list-style: none;
    padding: 15px 0;

    gap: 30px 10px;

    @media (width > 768px) {
      display: flex;
    }

    @media (max-width: 768px) {
      position: fixed;
      width: 100%;
      height: 100%;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;

      z-index: 99;

      &.submenuIsOpen {
        display: flex;
      }
    }

    .submenuListItem {
      background-color: #121212;
      color: #fff;
      padding: 10px 30px;
      border-radius: 999px;
      font-weight: 600;

      @media (max-width: 768px) {
        background-color: transparent;
        border: 1px solid #121212;
        color: #121212;
        font-size: 20px;
        font-weight: bold;

        transition: all 0.3s;

        &:hover {
          background-color: #121212;
          color: #fff;
        }
      }
    }
  }
}
